@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '/node_modules/sal.js/dist/sal.css';

.swiper-pagination-bullet {
  width: 100px;        /* Custom size */
  height: 100px;
  background-color: #ddd;  /* Default color */
  opacity: 1;         /* Ensure bullets are fully visible */
  margin: 0 8px;      /* Space between bullets */
  border-radius: 50%; /* Make them circular */
}

.swiper-pagination-bullet-active {
  background-color: #2563eb; /* Active bullet color (Tailwind's blue-600) */
}